/* Font declarations */
@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi/Satoshi-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/satoshi/Satoshi-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: "Satoshi", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #222227;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding: 110px;
}

body {
  font-family: "Satoshi", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #fdfcf9;
  color: #222227;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.121);
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 8px;
}

.skeleton{
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.skeleton::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding-block: 20px;
  border-radius: 4px;
  background: linear-gradient(90deg, #eee, #dedede, #eee);
  background-size: 200%;
  animation: skeleton .7s infinite linear reverse;
}

@keyframes skeleton {
  0%{
    background-position: -100% 0;
  }
  100%{
    background-position: 100% 0;
  }
}

:root {
  --gray-1: #222227;
  --gray-2: #494949;
  --gray-3: #6b6b6b;
  --black: #000000;
}